@charset "UTF-8";
.header {

    margin: auto;

    width: 95%;

    height: 200px;

    background-color: rgb(120, 172, 240);

    padding: 2% 2% 0 0;


}
fieldset {
	border: none;
	border-radius: 2px;
	margin-bottom: 12px;
	margin-left: 25%;
	overflow: hidden;
}

label {
	cursor: pointer;
	display: inline-block;
	padding: 3px 6px 0px 50px;
	text-align: left;
	width: 150px;
	vertical-align: top;
}

input {
	align-items: center;
	font-size: inherit;
}

.button {
	width: 20%;
	display: flex;
	margin: auto;
	justify-content: space-between;
	padding-left: 50px;
	
}