<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>RomeoProjetEncheres</display-name>
  
  <welcome-file-list>
    <welcome-file>accueil</welcome-file>
  </welcome-file-list>
  
	
  <servlet>
  	<servlet-name>pageAccueil</servlet-name>
  	<jsp-file>/WEB-INF/jsp/accueil.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>pageAccueil</servlet-name>
  	<url-pattern>/pageAccueil</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>inscription</servlet-name>
  	<jsp-file>/WEB-INF/jsp/inscription.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>inscription</servlet-name>
  	<url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  
    <servlet>
  	<servlet-name>connexion</servlet-name>
  	<jsp-file>/WEB-INF/jsp/connexion.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>connexion</servlet-name>
  	<url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  
  
      <servlet>
  	<servlet-name>monprofil</servlet-name>
  	<jsp-file>/WEB-INF/jsp/monprofil.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>monprofil</servlet-name>
  	<url-pattern>/monprofil</url-pattern>
  </servlet-mapping>
  
  
        <servlet>
  	<servlet-name>lienprofil</servlet-name>
  	<jsp-file>/WEB-INF/jsp/lienprofil.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>lienprofil</servlet-name>
  	<url-pattern>/lienprofil</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>connected</servlet-name>
  	<jsp-file>/WEB-INF/jsp/connected.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>connected</servlet-name>
  	<url-pattern>/connected</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>modifierprofil</servlet-name>
  	<jsp-file>/WEB-INF/jsp/modifierprofil.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>modifierprofil</servlet-name>
  	<url-pattern>/modifierprofil</url-pattern>
  </servlet-mapping>
  
<servlet>
  	<servlet-name>gestionarticle</servlet-name>
  	<jsp-file>/WEB-INF/jsp/gestionarticle.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>gestionarticle</servlet-name>
  	<url-pattern>/gestionarticle</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>detailvente</servlet-name>
  	<jsp-file>/WEB-INF/jsp/detailvente.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>detailvente</servlet-name>
  	<url-pattern>/detailvente</url-pattern>
  </servlet-mapping>

  
  
</web-app>